$theme-font-path : "../fonts/"!default;

@font-face {
  font-family: "Flaticon";
  src: url("#{$theme-font-path}icon/Flaticon.eot");
  src: url("#{$theme-font-path}icon/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("#{$theme-font-path}icon/Flaticon.woff") format("woff"),
       url("#{$theme-font-path}icon/Flaticon.ttf") format("truetype"),
       url("#{$theme-font-path}icon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("#{$theme-font-path}icon/Flaticon.svg#Flaticon") format("svg");
  }
}

.fi:before{
    display: inline-block;
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.flaticon-001-schedule:before { content: "\f100"; }
.flaticon-002-sharpener:before { content: "\f101"; }
.flaticon-003-sports:before { content: "\f102"; }
.flaticon-004-test-tube:before { content: "\f103"; }
.flaticon-005-university:before { content: "\f104"; }
.flaticon-006-professor:before { content: "\f105"; }
.flaticon-007-mortarboard:before { content: "\f106"; }
.flaticon-008-world:before { content: "\f107"; }
.flaticon-009-desk:before { content: "\f108"; }
.flaticon-010-computer:before { content: "\f109"; }
.flaticon-011-compass:before { content: "\f10a"; }
.flaticon-012-crayon:before { content: "\f10b"; }
.flaticon-013-swing:before { content: "\f10c"; }
.flaticon-014-student:before { content: "\f10d"; }
.flaticon-015-microscope:before { content: "\f10e"; }
.flaticon-016-atom-1:before { content: "\f10f"; }
.flaticon-017-flask:before { content: "\f110"; }
.flaticon-018-check-mark:before { content: "\f111"; }
.flaticon-019-diploma:before { content: "\f112"; }
.flaticon-020-school-bus:before { content: "\f113"; }
.flaticon-021-school:before { content: "\f114"; }
.flaticon-022-palette:before { content: "\f115"; }
.flaticon-023-book:before { content: "\f116"; }
.flaticon-024-notebook:before { content: "\f117"; }
.flaticon-025-lightbulb:before { content: "\f118"; }
.flaticon-026-blackboard:before { content: "\f119"; }
.flaticon-027-bag:before { content: "\f11a"; }
.flaticon-028-briefcase:before { content: "\f11b"; }
.flaticon-029-dna:before { content: "\f11c"; }
.flaticon-030-medal:before { content: "\f11d"; }
.flaticon-031-atom:before { content: "\f11e"; }
.flaticon-032-pencil:before { content: "\f11f"; }
.flaticon-033-ruler:before { content: "\f120"; }
.flaticon-034-alarm-clock:before { content: "\f121"; }
.flaticon-035-books:before { content: "\f122"; }
.flaticon-036-abacus:before { content: "\f123"; }
    
    $font-Flaticon-001-schedule: "\f100";
    $font-Flaticon-002-sharpener: "\f101";
    $font-Flaticon-003-sports: "\f102";
    $font-Flaticon-004-test-tube: "\f103";
    $font-Flaticon-005-university: "\f104";
    $font-Flaticon-006-professor: "\f105";
    $font-Flaticon-007-mortarboard: "\f106";
    $font-Flaticon-008-world: "\f107";
    $font-Flaticon-009-desk: "\f108";
    $font-Flaticon-010-computer: "\f109";
    $font-Flaticon-011-compass: "\f10a";
    $font-Flaticon-012-crayon: "\f10b";
    $font-Flaticon-013-swing: "\f10c";
    $font-Flaticon-014-student: "\f10d";
    $font-Flaticon-015-microscope: "\f10e";
    $font-Flaticon-016-atom-1: "\f10f";
    $font-Flaticon-017-flask: "\f110";
    $font-Flaticon-018-check-mark: "\f111";
    $font-Flaticon-019-diploma: "\f112";
    $font-Flaticon-020-school-bus: "\f113";
    $font-Flaticon-021-school: "\f114";
    $font-Flaticon-022-palette: "\f115";
    $font-Flaticon-023-book: "\f116";
    $font-Flaticon-024-notebook: "\f117";
    $font-Flaticon-025-lightbulb: "\f118";
    $font-Flaticon-026-blackboard: "\f119";
    $font-Flaticon-027-bag: "\f11a";
    $font-Flaticon-028-briefcase: "\f11b";
    $font-Flaticon-029-dna: "\f11c";
    $font-Flaticon-030-medal: "\f11d";
    $font-Flaticon-031-atom: "\f11e";
    $font-Flaticon-032-pencil: "\f11f";
    $font-Flaticon-033-ruler: "\f120";
    $font-Flaticon-034-alarm-clock: "\f121";
    $font-Flaticon-035-books: "\f122";
    $font-Flaticon-036-abacus: "\f123";